*{
    margin:0px;
    padding:0px;
}
body{
    box-sizing: border-box;
    color:black;
    font-size: 19px;
}
:root{
    --main-color:#5240F3;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto+Serif:opsz,wght@8..144,200&family=Roboto:wght@100&family=Updock&display=swap');

.container{
    width:95%;
    margin: auto;
}

/*header section*/
.header .header_link{
    background-color:var(--main-color);
    margin-top:7px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.header .header_link a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.header .header_link a:hover{
    text-decoration: underline;
}

/* 02tvseries logo*/
.logo{
    text-align: center;
    padding-top:7px;
    padding-bottom:7px;
}

/*Support/message section*/
.help .container{
    text-align: center;
    background-color: rgb(202, 241, 241);
    border-top:2px solid lightblue;
    border-bottom: 2px solid lightblue;
    padding-top: 5px;
    padding-bottom: 5px;
}
.help .container p>a{
    color:green;
    text-decoration: none;
}
.help .container p>a:hover{
    text-decoration: underline;
}

/*googlesearch*/
.googlesearch .container .searchbar{
    width:90%;
    height: 27px;
    padding-left:10px;
    margin-top:20px;
}
.button{
    width:5%;
    height:30px;
    color:white;
    background-color: #2196F3;
    border:1px solid grey;
    margin-left:7px;
}
.button:hover{
    background-color: #0b7dda;
}

/*Webapp*/
.webapp{
    text-align: center;
    margin-top:10px;
}

/*recently added*/
.recentlyadded .container{
    background-color: var(--main-color);
    color:white;
    text-align: center;
    padding:10px;
    font-weight: bold;
}
hr{
    margin-top:45px;
    margin-bottom: 0px;
    border: none;
    border-bottom:1px dashed black;
    
}

/*Tvseries*/
.allseries{
    margin-top:15px;
}
.tvseries{
    padding-bottom: 5px;
}
.allseries .container .tvseries i{
    color:green;
    padding-right:7px;
}
.moreupdates a{
    color:green;
    text-decoration: none;
}
.moreupdates a:hover{
    text-decoration: underline;
}

/*ListTvseries*/
.listtvseries .container .header{
    background-color: var(--main-color);
    color:white;
    padding:10px;
    text-align: center;
    font-weight: bold;
}
.listtvseries .container .alphabets{
margin-top: 10px;
}
.listtvseries .container .alphabets p{
    color:green;
    padding-bottom: 7px;
}
.listtvseries .container .alphabets button{
    float: right;
    background-color: var(--main-color);
    padding:5px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size:17px;
}

/*Mp4mania link*/
.mp4mania .container{
    background-color: var(--main-color);
    padding:5px;
    margin-top:5px;
}